/* hero section */
#hero {
  margin-top: 40px;
  background: url(../images/Hero\ Image.png) center;
  background-size: cover;

  @media screen and (max-width: 992px) {
    background-image: url(../images/heroImageTablet.png);
    background-size: cover;
    background-position: right;
  }

  /* mobile design */
  @media screen and (max-width: 767px) {
    margin-top: 31.8px;
  }

  .row {
    padding: clamp(96px, 8vw, 112px) clamp(24px, 5.6vw, 80px);
    position: relative;

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.5;
      top: 0;
      left: 0;
      visibility: hidden;
      @media screen and (max-width: 767px) {
        visibility: visible;
      }
    }

    .content {
      z-index: 10;
      h1 {
        font-family: Fraunces;
        font-weight: 900;
        font-size: clamp(40px, 6.5vw, 76px);
        line-height: 100%;
        letter-spacing: 0px;
      }

      p {
        margin-top: 24px;
        font-family: Barlow;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0px;
        color: #fefcf7;
        opacity: 0.8;
      }

      button {
        margin-top: clamp(24px, 4.5vw, 32px);
      }
    }
  }
  margin-bottom: clamp(80px, calc(58.873px + 5.634vw), 140px);
}

/* collection section */
#collection {
  padding: 0px 80px;

  @media screen and (max-width: 992px) {
    padding: 0px;
  }

  .collection-wrap {
    .top {
      position: relative;
      text-align: center;
      margin-bottom: -65.719px;

      /* tablet design */
      @media screen and (max-width: 992px) {
        margin-bottom: -72px;
      }
      /* mobile design */
      @media screen and (max-width: 767px) {
        margin-bottom: 0;
      }

      h2 {
        font-family: Fraunces;
        font-weight: 900;
        font-size: 182px;
        line-height: 100%;
        letter-spacing: 0px;
        color: #83888f;
        margin: 0;
        /* tablet design */
        @media screen and (max-width: 992px) {
          font-family: Fraunces;
          font-weight: 900;
          font-size: 112px;
          line-height: 100%;
          letter-spacing: 0px;
          text-align: center;
        }
        /* mobile design */
        @media screen and (max-width: 767px) {
          font-family: Fraunces;
          font-weight: 900;
          font-size: 40px;
          line-height: 100%;
          letter-spacing: 0px;
          text-align: center;
        }
      }

      .collection-overlay {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        img {
          width: 100%;
        }
      }
    }
    .bottom {
      gap: 32px;

      .col {
        .card {
          gap: 48px;

          /* tablet design */
          @media screen and (max-width: 992px) {
            gap: 0;
          }
          /* mobile design */
          @media screen and (max-width: 767px) {
            gap: 24px;
          }

          img {
            width: 253.5px;
            height: 193px;
          }

          .card-body {
            gap: 24px;
            padding: 0;

            /* tablet design */
            @media screen and (max-width: 992px) {
              padding: 40.5px 32px;
              padding-right: 118.5px;
            }

            /* tablet design */
            @media screen and (max-width: 767px) {
              padding: 0;
              gap: 16px;
            }

            h5 {
              font-family: Fraunces;
              font-weight: 900;
              font-size: 24px;
              line-height: 150%;
              letter-spacing: 0px;
              color: #333d4b;
              text-align: center;
              margin: 0;
              /* tablet design */
              @media screen and (min-width: 768px) and (max-width: 992px) {
                text-align: start;
              }
            }

            p {
              font-family: Barlow;
              font-weight: 400;
              font-size: 16px;
              line-height: 160%;
              letter-spacing: 0px;
              color: #333d4b;
              text-align: center;
              /* tablet design */
              @media screen and (min-width: 768px) and (max-width: 992px) {
                text-align: start;
              }
            }
          }
        }
      }
    }
  }

  margin-bottom: clamp(80px, calc(58.873px + 5.634vw), 140px);
}

/* insights section */
#insights {
  .top {
    background-color: #333d4b;
    padding: 96px 370px 321px 370px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: -257px;

    /* tablet design */
    @media screen and (max-width: 992px) {
      padding: 64px 82px 353px 82px;
      margin-bottom: -289px;
    }
    /* mobile design */
    @media screen and (max-width: 767px) {
      padding: 64.2px 0px 226.8px 0px;
      margin-bottom: -162.8px;
    }

    h3 {
      font-family: Fraunces;
      font-weight: 900;
      font-size: 40px;
      line-height: 120%;
      letter-spacing: 0px;
      text-align: center;
      color: #fefcf7;
    }

    p {
      font-family: Barlow;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0px;
      text-align: center;
      opacity: 0.8;
      color: #fefcf7;
    }
  }
  .bottom {
    padding: 0px 85px;
    gap: 32px;
    align-items: stretch;

    /* tablet design */
    @media screen and (max-width: 992px) {
      padding: 0px 65.5px;
      gap: 24px;
    }
    /* mobile design */
    @media screen and (max-width: 767px) {
      padding: 0px 31.5px;
    }

    .card-wrap {
      padding: 0;
      height: 100%;

      .card {
        gap: 48px;
        padding: 48px 32px;
        border: 0;
        background-color: #0e8784;
        align-items: center;
        height: 100%;

        /* tablet design */
        @media screen and (max-width: 992px) {
          padding: 40px 48px;
        }
        /* mobile design */
        @media screen and (max-width: 767px) {
          gap: 24px;
          padding: 24px 20px;
        }

        .truck {
          width: 72px;
          height: 72px;
        }

        .Gift {
          width: 72px;
          height: 72px;

          /* tablet design */
          @media screen and (max-width: 992px) {
            width: 60px;
            height: 60px;
          }
        }

        .Coffee {
          width: 71px;
          height: 72px;
          @media screen and (max-width: 992px) {
            width: 60px;
            height: 60.85px;
          }
        }

        .card-body {
          display: flex;
          flex-direction: column;
          gap: clamp(12px, calc(7.759px + 1.128vw), 24px);

          /* tablet design */
          @media screen and (max-width: 992px) {
            padding: 0;
          }

          h5 {
            margin: 0;
            font-family: Fraunces;
            font-weight: 900;
            font-size: 24px;
            line-height: 150%;
            letter-spacing: 0px;
            text-align: center;
            color: #fefcf7;
          }

          p {
            font-family: Barlow;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0px;
            text-align: center;
            color: #fefcf7;
          }
        }
      }
    }
  }

  margin-bottom: clamp(80px, calc(58.873px + 5.634vw), 140px);
}

/* service section */
#service {
  padding: 0px 85px;
  /* tablet design */
  @media screen and (max-width: 992px) {
    padding: 0;
  }

  .bigger-row {
    margin: 0;
    padding-right: 63px;
    @media screen and (max-width: 992px) {
      padding: 0;
    }
    .container {
      padding: 0;

      /* mobile design */
      @media screen and (max-width: 767px) {
        text-align: center;
      }
      .start-text {
        margin-bottom: 80px;
        @media screen and (max-width: 767px) {
          margin-bottom: 64px;
        }
        font-family: Fraunces;
        font-weight: 900;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: 0px;
        color: #83888f;
      }

      img {
        margin-bottom: 80px;
      }

      .smaller-row {
        margin: 0;
        gap: 96px;
        margin-bottom: 64px;
        /* tablet design */
        @media screen and (max-width: 992px) {
          gap: 20px;
        }
        /* mobile design */
        @media screen and (max-width: 767px) {
          gap: 40px;
          margin-bottom: 40px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }

        .col {
          display: flex;
          flex-direction: column;
          padding: 0;
          gap: 40px;
          /* mobile design */
          @media screen and (max-width: 767px) {
            gap: 24px;
          }

          h2 {
            margin: 0;
            font-family: Fraunces;
            font-weight: 900;
            font-size: 72px;
            line-height: 100%;
            letter-spacing: 0px;
            color: #fdd6ba;
          }
          h3 {
            margin: 0;
            font-family: Fraunces;
            font-weight: 900;
            font-size: 35px;
            line-height: 113.99999999999999%;
            letter-spacing: 0px;
            color: #333d4b;
          }
          p {
            margin: 0;
            font-family: Barlow;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0px;
            color: #333d4b;
          }
        }
      }
    }
  }

  margin-bottom: 140px;

  /* tablet design */
  @media screen and (max-width: 992px) {
    margin-bottom: 80px;
  }
}
