@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .cta {

} */

/* the main wrapper of website */
.main {
  width: 1280px;
  margin-top: 40px;
  margin-bottom: 40px;

  /* tablet design */
  @media screen and (max-width: 992px) {
    width: 704px;
  }

  /* mobile design */
  @media screen and (max-width: 767px) {
    width: 343px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

/* header */
header {
  .navbar {
    .navbar-nav {
      display: flex;
      flex-direction: row;
      gap: 33px;

      #headerCollapse {
        .card {
          .active {
            color: white;
            background-color: #333d4b;
          }
          a {
            &:hover {
              background-color: #333d4b;
              color: white;
            }
          }
        }
      }

      a {
        font-family: Barlow;
        font-weight: 700;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.92px;
        text-transform: uppercase;
        color: #83888f;
        transition: all ease 0.5s;

        &:hover {
          color: #333d4b;
        }
      }
      .active {
        color: #333d4b;
      }
    }

    #collapseExample {
      .card {
        a {
          font-family: Barlow;
          font-weight: 700;
          font-size: 12px;
          line-height: 130%;
          letter-spacing: 0.92px;
          text-transform: uppercase;
          color: #83888f;
          padding: 10px;
        }

        .active {
          background-color: #333d4b;
          color: white;
        }

        #collapseCollapse {
          card {
            a {
              font-family: Barlow;
              font-weight: 700;
              font-size: 12px;
              line-height: 130%;
              letter-spacing: 0.92px;
              text-transform: uppercase;
              color: #83888f;
            }

            .active {
              color: white;
              background-color: #333d4b;
            }
          }
        }
      }
    }
  }
}

/* footer */
footer {
  margin-top: 70vh;
  background-color: #333d4b;
  gap: 240px;
  padding: 48px 80px;

  /* small laptop design */
  @media screen and (max-width: 1024px) {
    padding: 42px 20px;
    gap: 140px;
  }

  /* tablet design */
  @media screen and (max-width: 992px) {
    padding: 42px 20px;
    gap: 73.5px;
  }

  /* mobile design */
  @media screen and (max-width: 767px) {
    padding: 40px 43px;
    gap: 24px;
  }

  .nav {
    padding: 4px 0px !important;
    gap: 32px;

    /* tablet design */
    @media screen and (max-width: 992px) {
      padding: 0 !important;
      gap: 19px;
      flex-wrap: nowrap !important;
    }

    .active {
      color: white;
    }

    a {
      padding: 0;
      font-family: Barlow;
      font-weight: 700;
      font-size: 11px;
      line-height: 130%;
      letter-spacing: 0.92px;
      text-transform: uppercase;
      color: #83888f;
      transition: all ease 0.5s;

      &:hover {
        color: white;
      }

      /* tablet desgn */
      @media screen and (min-width: 768px) and (max-width: 992px) {
        font-size: 10px;
      }
    }

    #footerCollapse {
      right: 10px !important;
      top: -6rem !important;

      a {
        &:hover {
          color: white;
          background-color: #333d4b;
        }
      }

      .active {
        background-color: #333d4b;
        color: #fefcf7;
      }
    }
  }

  .social {
    padding: 0;
    gap: 24px;

    a {
      padding: 0;
      width: 24px;
      height: 24px;
      color: #fefcf7;
      transition: all ease 0.5s;

      /* mobile aND tablet design */
      @media screen and (max-width: 992px) {
        width: 20px;
        height: 20px;
      }

      i {
        font-size: 24px;
        /* mobile aND tablet design */
        @media screen and (max-width: 992px) {
          font-size: 20px;
        }
      }

      &:hover {
        color: #fdd6ba;
      }

      &:focus {
        color: white;
      }
    }

    .twitter {
      height: 19.5px;
    }
  }
}
