/* start hero section */
#hero {
  margin-top: 40px;
  background: url(../images/Subscribe\ Image.png) center;
  background-size: cover;
  margin-bottom: clamp(64px, calc(37.239px + 7.136vw), 140px);
  border-radius: 10px;

  padding: 140px 755px 140px 80px;

  @media screen and (max-width: 992px) {
    background-image: url(../images/subs-tablet.png);
    background-size: cover;
    padding: 140px 211px 140px 48px;
  }

  /* mobile design */
  @media screen and (max-width: 767px) {
    background-image: url(../images/subs-mobile.png);
    background-size: cover;
    padding: 80.2px 24px 79.8px 24px;
    text-align: center;
  }

  h1 {
    font-family: Fraunces;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 0px;
    margin-bottom: 32px;

    color: #fefcf7;
    /* mobile design */
    @media screen and (max-width: 767px) {
      font-family: Fraunces;
      font-weight: 900;
      font-size: 40px;
      line-height: 40px;
      letter-spacing: 0px;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  p {
    font-family: Barlow;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #fefcf7;
    opacity: 0.8;
    margin: 0;
  }
}
/* end hero section */

/* start service section */
#service {
  padding: 0px 85px;
  margin-bottom: 140px;
  background-color: #333d4b;
  padding: 96px 155px 96px 80px;

  /* tablet design */
  @media screen and (max-width: 992px) {
    padding: 64px 32px;
  }
  /* tablet design */
  @media screen and (max-width: 767px) {
    padding: 48.2px 16px 47.8px 16px;
  }

  img {
    margin-bottom: 64px;
  }

  .row {
    gap: 95px;
    /* tablet design */
    @media screen and (max-width: 992px) {
      gap: 32px;
    }
    /* mobile design */
    @media screen and (max-width: 767px) {
      gap: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .col {
      display: flex;

      flex-direction: column;
      gap: 40px;
      /* mobile design */
      @media screen and (max-width: 992px) {
        gap: 24px;
      }

      h2 {
        margin: 0;
        font-family: Fraunces;
        font-weight: 900;
        font-size: 72px;
        line-height: 100%;
        letter-spacing: 0px;
        color: #fdd6ba;
      }

      h3 {
        margin: 0;
        font-family: Fraunces;
        font-weight: 900;
        font-size: 35px;
        line-height: 113.99999999999999%;
        letter-spacing: 0px;
        color: #fefcf7;
      }

      p {
        margin: 0;
        font-family: Barlow;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0px;
        color: #fefcf7;
      }
    }
  }
}

/* end service section */
